{% extends "project_home.html" %}

{% block css %}
{{super()}}
{% endblock %}

{% block main %}
    <div id="printArea">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h4 style="text-align: center;"><strong>钻孔柱状图</strong></h4>
                <p>工程编号：{{projectNo}}</p>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-1">
                <label for="holeName">测试孔号：</label>
                <select name="holeName" id="cptSelection" onClick="showCurve(this)">
                </select>     
            </div>
            <div class="col-sm-7 col-sm-offset-1" id="ps_curve">
                <table class="graph-table table-hover">
                    <thead>
                        <tr>
                            <th>层号</th>
                            <th>层名</th>
                            <th>层底深度(m)</th>
                            <th>层底标高(m)</th>
                            <th>厚度(m)</th>
                            <th>图例</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <svg height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <defs>
                                        <pattern id="clay_tile" x="0" y="0" width="20" height="10" patternUnits="userSpaceOnUse">
                                            <path d="M 10 0 L 0 10" style="stroke:black;fill:none;"/>
                                            <path d="M 20 0 L 10 10" style="stroke:black;fill:none;"/>
                                        </pattern> 
                                        <pattern id="siltclay_tile" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                                            <path d="M 10 0 L 6.41 3.58 M 3.58 6.41 L 0 10" style="stroke:black;fill:none;"/>
                                            <path d="M 20 0 L 2 20" style="stroke:black;fill:none;"/>
                                            <path d="M 10 0 L 6.41 3.58 M 3.58 6.41 L 0 10" transform="translate(10,10)" style="stroke:black;fill:none;"/>
                                            <rect x="0" y="0" width="20" height="20" style="stroke:black;fill:none;"/>
                                        </pattern>
                                        <pattern id="claysilt_tile" x="0" y="0" width="20" height="10" patternUnits="userSpaceOnUse">
                                            <path d="M 10 0 L 6.41 3.58 M 3.58 6.41 L 0 10" style="stroke:black;fill:none;"/>
                                            <path d="M 20 0 L 10 10" style="stroke:black;fill:none;"/>
                                        </pattern>                                                                                             
                                    </defs>
                                    <g id="ps_circle">
                                    </g>
                                </svg>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script%}
    {{super()}}
    <script>
        //javascript中可以直接使用jinjia2中的字符变量{{Variant}}
        //myform.testDate.value=((new Date()).toLocaleDateString()).replace('年','-').replace('月','-').replace('日','');
        function showCurve(obj){
            if (obj.options.length==0){
                var hole_option;
                {% for holeName, xHole in holeDict.items() %}            
                    //注意loop.index从1开始计数，loop.index0从0开始计数，除了上述坑外，还需注意是loop.index0，而不是loop.indexo
                    hole_option=new Option("{{xHole.holeName}}","{{loop.index0}}");//new Option("text","value")
                    obj.options.add(hole_option);
                {% endfor %}
            }
            cptCurve = document.getElementById("cptCurve");
            var holeName=$("#cptSelection").find("option:selected").text();
            $("#ps_curve>table:first>tbody:first>tr:gt(0)").remove();

            var ps_circle=document.getElementById("ps_circle");
            var svgDoc=ps_circle.ownerDocument;
            var rings=ps_circle.getElementsByTagName("rect");
            for (i=rings.length-1;i>=0;i--){
            ps_circle.removeChild(rings[i]);
            }
            var rect;
            var myurl;   

            {% for holeName, xHole in holeDict.items() %}
            if("{{holeName}}"== holeName){
                {% for xlayer in xHole.layers %}
                    var layerThickness=parseFloat("{{xlayer.endDep}}")-parseFloat("{{xlayer.startDep}}");
                    console.log("{{loop.index}}"+"厚度转换为像素"+depth2px(layerThickness));
                    var layerLevel=parseFloat("{{xHole.elevation}}")-parseFloat("{{xlayer.endDep}}");
                    if(layerThickness>0){
                        $("#ps_curve>table:first>tbody:first>tr:last").attr("height",depth2px(layerThickness));
                        $("#ps_curve>table:first>tbody:first>tr:last>td:eq(0)").text("{{xlayer.layerNo}}");
                        $("#ps_curve>table:first>tbody:first>tr:last>td:eq(1)").text("{{xlayer.layerName}}");
                        $("#ps_curve>table:first>tbody:first>tr:last>td:eq(2)").text(parseFloat("{{xlayer.endDep}}").toFixed(2));
                        $("#ps_curve>table:first>tbody:first>tr:last>td:eq(3)").text(layerLevel.toFixed(2));
                        $("#ps_curve>table:first>tbody:first>tr:last>td:eq(4)").text(layerThickness.toFixed(2));
                        $("#ps_curve>table:first>tbody:first").append("<tr><td></td><td></td><td></td><td></td><td></td></tr>");

                        rect=svgDoc.createElementNS("http://www.w3.org/2000/svg","rect");
                        rect.setAttribute("x",0);
                        var rect_y=depth2px(parseFloat("{{xlayer.startDep}}"));
                        rect.setAttribute("y",rect_y);
                        rect.setAttribute("width","100%");
                        rect.setAttribute("height",depth2px(layerThickness));
                        var myurl;
                        if({{loop.index}}%2==0){
                            myurl="url(#"+"clay_tile"+")";}
                            else{myurl="url(#"+"siltclay_tile"+")";} 
                            rect.style.setProperty("fill",myurl);
                            rect.style.setProperty("stroke","blue");
                            rect.style.setProperty("stroke-width","1");
                            ps_circle.appendChild(rect);
                        }
                {% endfor %}
                $("#ps_curve>table:first>tbody:first>tr:last").remove();
                $("#ps_curve>table:first>tbody:first>tr:first>td:last").attr("rowspan",$("#ps_curve>table:first>tbody:first>tr").length);
                $("#ps_curve>table:first>tbody:first>tr:first>td:last>svg:first").attr("height",depth2px({{xHole.Dep}}));
            }
            {% endfor %}
            $("#ps_curve>table:first>tbody:first").append("<tr height=20><td></td><td></td><td></td><td></td><td></td><td></td></tr>");
        }

        function depth2px(depth){
            var DPI=96;//the default value of windows DPIis 96
            //1in=2.54cm,the default value of windows DPIis 96
            var scale=200;//default print vertical scale is 1:200(but 1m contain 10 data considered),and horizontal scale is 1:2.
            var scaleX=100/2.54*DPI/scale;
            var scaleY=10/2.54*DPI/scale;
            var pY=scaleY*depth*10;
            return parseInt(pY);
        }
    </script>
{%endblock%}