.hor-minimalist-a {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 12px;
background: #fff;
border-collapse: collapse;
text-align: right;
margin: 10px;
}
.hor-minimalist-a th
{
	font-size: 13px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
.hor-minimalist-a tbody
{

	border-top: 2px solid #6678b1;
	border-bottom: 2px solid #6678b1;
}
.hor-minimalist-a td
{
	color: #669;
	padding: 9px 8px 0px 8px;
}
.ver-minimalist {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 12px;
background: #fff;
border-collapse: collapse;
text-align: right;
margin: 10px;
}
.ver-minimalist th
{
	font-size: 13px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-right: 2px solid #6678b1;
}
.ver-minimalist td
{
	color: #669;
	padding: 9px 8px 0px 8px;
}


.hor-calculate {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 12px;
background: #fff;

border-collapse: collapse;
text-align: center;
margin: 10px;
border:2px solid #000000;
}

.hor-calculate th
{
	font-size: 13px;
	font-weight: normal;
	color: #039;
	padding: 0px;
    border-left: 1px solid #6678b1;
    text-align: center;
}
.hor-calculate tbody
{
	border-top: 1px solid #6678b1;
	border-bottom: 1px solid #6678b1;
    padding:0px;
}
.hor-calculate td
{
	color: #669;
    padding: 2px 0px 2px 0px;
    border-left: 1px solid #6678b1;
    border-top: 1px solid #6678b1;
    text-align: center;
}
.hor-calculate input
{
	border: 0px;
    width:100%; /*自适应td的宽度*/
    text-align: center;
}
.hor-calculate select
{
	border: 0px;
    width:100%; /*自适应td的宽度*/
}