{% extends "project_home.html" %}
{% block toolbar %}
<div class="row">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" id='calculate'>
                <span class="fa fa-calculator"></span>
                &nbsp;&nbsp;计算
            </button>
            <button type="button" class="btn btn-primary" id='print'>
                <span class="glyphicon glyphicon-print"></span>
                &nbsp;&nbsp;打印
            </button>
            <!-- 按钮触发模态框 -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="modal_btn">
                <span class="fa fa-trash-o fa-lg"></span>
                &nbsp;&nbsp;修改
            </button>
            <!-- 模态框（Modal） -->
            <button type="button" class="btn btn-primary" id='save'>
                <span class="fa fa-floppy-o"></span>
                &nbsp;&nbsp;保存
            </button>
        </div>
</div>
{% endblock %}
{% block css %}
    {{super()}}
    <link rel="stylesheet" href="https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.css">
    <style type="text/css">
        #tbl_layerInf{
            background-color: #cccccc;
            border:1px solid black;
            padding: 5px 5px;
        }

        #tbl_layerInf th,td{
            border:1px solid black;
            font-size: 12px;
            text-align: center;
        }

        #tbl_layerInf input{
            border-width: 0px;
            width:100%;
            height: 100%;
            text-align: center;
        }

        #text-content {
            height: 300px;
        }

        .text-container {
            width: 100%;
            margin: 0 auto;
            position: relative;
        }
    </style>
{% endblock %}

{% block main %}
    <div id="printArea">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h4 style="text-align: center;"><strong>报告审核意见</strong></h4>
                <p>工程编号：{{projectNo}}</p>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 ">
                    <div id="reportOpions">   
                        <div class="text-container">
                            <div id="opionsContent" onkeydown="javascript:countChar('opionsContent','counter');" onkeyup="javascript:countChar('opionsContent','counter');" name="opionsContent">
                            </div>
                        </div>
                        <p>当前意见总计<span id="counter">7</span>字。</p>
                        <p>请在文本框中输入审核意见，鼠标划出对话框后，输入的意见自动显示在主屏幕上。</p>
                    </div>
            </div>
        </div>
        <div class="row">{% include "sign.html" %}</div>
    </div>
{% endblock %}

{% block modal %}
    <!-- 使用bootstrap提供的modal功能时，必须将modal放在body内的最外层，否则modal的z-index并非预期的1050,mmenu默认将body内最外层的div添加到一个新生成的div内,其z-index为0,以防止modal的z-index被mmenu.js污染,可通过将modal添加到section标签来解决 -->
{% endblock%}

{% block script%}
    {{super()}}
    <script type="text/javascript">
        var editor = new wangEditor('reportOpions');
         // 仅仅想移除某几个菜单，例如想移除『插入代码』和『全屏』菜单：
         // 其中的 wangEditor.config.menus 可获取默认情况下的菜单配置
         editor.config.menus = $.map(wangEditor.config.menus, function(item, key) {
             if (item === 'insertcode') {
                 return null;
             }
             if (item === 'fullscreen') {
                 return null;
             }
             if (item === 'img') {
                 return null;
             }
             if (item === 'video') {
                 return null;
             }                  
             return item;
         }); 
        editor.create();
        editor.clear();
        //注意此处必须采用单引号，若采用双引号,html将无法识别
        editor.$txt.append('{{opinions|safe}}'); 

        function countChar(content,objId){
            var counter=$(document.getElementById(content)).text().length;
            $(document.getElementById(objId)).text(counter);
        }
        //html中提交表单有两种方式，一种是严格form-input方式，
        //一种是ajax-button-json方式，button提交的数据必须严格为json格式
        //ajax可以部分混用form中的控件，但必须严格提交json个数数据
        $('#save').click(function(){
            var myUrl="{{url_for('reportCheck',projectNo=projectNo)}}";
            var myData={"content":editor.$txt.html()};
            var callback_function=function (data) {
                return data["result"];}
                $.ajax({
                    url:myUrl,
                    data:myData,
                    type:"POST",
                    dataType:"json",
                    success:callback_function
                });
        });
    </script>
{% endblock %}