{% extends "project_home.html" %}
{% block css %}
{{super()}}
<link href="{{url_for('static',filename='css/table.css',_external=True)}} "  rel="stylesheet" type="text/css" />
{% endblock %}
{% block main %}
{{super()}}
<div id="printArea" class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1" align="center">
            <h4 style="text-align: center;"><strong>水位表</strong></h4>
            <p>工程编号：{{projectNo}}</p>
            <hr/>
        </div>
    </div>
    <div class="row">    
        <div class="col-sm-10 col-sm-offset-1" align="center">
            <table class="ver-minimalist">
                <thead>
                </thead>
                <tbody>
                {% for x in range(rank) %}
                {% set start=x*factor %}
                {% if ((x+1)*factor)<=cnt %}
                {% set end=(x+1)*factor %}
                {% else %}
                {% set end=cnt %}
                {% endif %}
                    <tr>
                        <th>孔号</th>
                        {% for xHole in holelist[start:end] %}
                        <td>{{xHole.holeName}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>水位埋深(m)</th>
                        {% for xHole in holelist[start:end] %}
                        <td>{{'%.2f'%(xHole.waterLevel)}}</td>
                        {% endfor %}
                    </tr>
                    <tr style="border-bottom: 1px solid #6678b1;">
                        <th>水位标高(m)</th>
                        {% for xHole in holelist[start:end] %}
                        <td>{{'%+.2f'%(xHole.waterElevation)}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row">{% include "sign.html" %}</div>
</div>
{% endblock %}
