{% extends "project_home.html" %}

{% block css %}
    {{super()}}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a id="gen_txt">
                    <button type="button" class="btn btn-primary" id='gen_btn'>
                        <span class="glyphicon glyphicon-cog"></span>
                        &nbsp;&nbsp;生成数据
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <select name="layerNo" id="layerNo">
            {% for item in layer_hole_ps_list %}
            <option>{{item[0]}}</option>
            {% endfor %}
        </select>
    </div>
    <div id="printArea">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h4 style="text-align: center;"> <strong>静力触探指标分析</strong>
                </h4>
                <p>工程编号：{{projectNo}}</p>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div  class="col-sm-6 col-sm-offset-1" id="diagramDiv"></div>
        </div>
    </div>
{% endblock %}

{% block script%}
    {{super()}}
    <script type="text/javascript" src="{{url_for('static',filename='js/analysis.js')}}">        
    </script>
    <script type="text/javascript">
        var svg=new SvgContainer("diagramDiv");
        svg.creatAxis("Ps(MPa)");
        $('#layerNo').change(function(){
            svg.show({{layer_hole_ps_list|safe}},'MPa',600,300);
        });
        $(function(){
            $('#gen_btn').click(function(){
                var myurl="{{url_for('analysis.cptAnalysis',projectNo=projectNo)}}";
                var mydata={};  
                var callback_function=function(dict){$("#gen_txt").attr("href",dict['result']);
                                                     $("#gen_txt").get(0).click();
                                                    }
                $.ajax({
                    url:myurl,
                    data:mydata,
                    type:"POST",
                    dataType:"json",
                    success:callback_function
                });
            });
        });
    </script>
{%endblock%}