<!DOCTYPE html>
<html lang="zh-cn" >
    <head>
    <meta name="renderer" content="webkit">
        <meta charset="utf-8" />
        <title>Investigation Auxiliary System (v1.0) | SHMGED</title>
        {% block css %}
        <link href="{{url_for('static',filename='css/layout.css',_external=True)}}" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    <body>
        <header>
            <h2>Investigation Auxiliary System</h2>
            <a href="http://www.shmged.com/" class="stuts">Back to Index Page on <span>SHMGED</span></a>
        </header>
{% block nav %}
{% endblock %}
{% block main %}
{% endblock %}
    </body>
</html>
{% block script %}
{% endblock %}
