<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="GIPS" />
		<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
		<title>工程勘察数据处理系统</title>
		{% block css %}
			<style type="text/css">
				.container{
				    background: #fff;
				    box-shadow: 3px 0px 10px #111111;    
				}
				#toolbar{background: #fff;
				    box-shadow: 3px 0px 10px #111111;}			
			</style>			
		{% endblock %}
		{% include "css.html" %}
	</head>
	<body>
		<div id="page">
			<div class="header Fixed">
				<a href="#menu"></a>
			</div>		
			<div class="footer Fixed"></div>
			<div class="content" id="content">	
				<div class="container">
					{% block toolbar %}
						{% include "toolbar.html" %}			
					{% endblock %}				
					{% block main %}
					{% endblock %}
				</div>
			</div>
			{% block nav %}
				<nav id="menu">
					{% include "nav.html" %}
				</nav>
			{% endblock %}
		</div>
		{% block modal%}
		{% endblock %}
	</body>
</html>

{% block script %}
	{% include "js.html" %}
{% endblock %}