<link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet" />


<link href="{{url_for('static',filename='plugin/mmenu/css/jquery.mmenu.all.css')}} " rel="stylesheet" type="text/css" />
<link href="{{url_for('static',filename='plugin/awesomplete/css/awesomplete.css')}} " rel="stylesheet" type="text/css" />
<link href="{{url_for('static',filename='plugin/wangEditor/css/wangEditor.min.css')}} " rel="stylesheet" type="text/css" />
<link href="{{url_for('static',filename='css/site.css')}} " rel="stylesheet" type="text/css" />

<link href="{{url_for('static',filename='css/table.css')}} " rel="stylesheet" type="text/css" />
