<script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- <script src="https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.min.js"></script> -->
<script type="text/javascript" src="{{url_for('static', filename='plugin/awesomplete/js/awesomplete.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='plugin/mmenu/js/jquery.mmenu.all.min.js')}}"></script>
<script type="text/javascript">
	$(function() {
		$('nav#menu').mmenu({
			extensions	: [ 'effect-slide-menu', 'pageshadow',"border-offset"],
			slidingSubmenus: false,
			searchfield	: true,
			counters	: true,
		    setSelected : {
				hover: true
			},	
			navbar 		: {
				title		: '工程勘察数据处理系统'
			},
			navbars		: [
 				{
					position	: 'top',
					content		: [
						'prev',
						'title',
						'close'
					]
				}, {
					position	: 'bottom',
					content		: [
						'<a href="http://www.shmged.com" target="_blank">上海海洋地质勘察设计有限公司</a>'
					]
				}
			]
		});
	});
</script>

<script type=text/javascript src="{{url_for('static', filename='plugin/PrintArea/js/jquery.PrintArea.js')}}"></script>
<script>
//打印计算结果
$('#print').bind('click', function() {
    $("#printArea").printArea({mode:"iframe"});
});
</script>

<script type="text/javascript" src="{{url_for('static', filename='plugin/wangEditor/js/wangEditor.min.js')}}"></script>