<ul>
    <li><a href="#"><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;数据录入</a>
        <ul>
            <li><a href="{{url_for('logginData.layersInf', projectNo=projectNo, _external=True)}}">地层信息</a></li>
            <li><a href="{{url_for('logginData.holesInf', projectNo=projectNo, _external=True)}}">勘探孔数据</a></li>
        </ul>
    </li>
    <li><a href="#"><i class="fa fa-calculator"></i>&nbsp;&nbsp;计算书</a>
        <ul>
            <li><a href="{{url_for('calculation.water',projectNo=projectNo,_external=True)}}">水位表</a></li>
            <li><a href="{{url_for('calculation.liquefaction',projectNo=projectNo,_external=True)}}">液化判别</a></li>
            <li><a href="{{url_for('calculation.natural_foundation',projectNo=projectNo,_external=True)}}">天然地基</a></li>
            <li><a href="{{url_for('calculation.pile',projectNo=projectNo,_external=True)}}">桩基</a></li>
        </ul>
    </li>
    <li><a href="#"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;成果图表</a>
        <ul>
            <li><a href="{{url_for('diagram.cpt',projectNo=projectNo,_external=True)}}">静力触探曲线图表</a></li>
            <li><a href="{{url_for('diagram.zzt',projectNo=projectNo,_external=True)}}">钻孔柱状图</a></li>
        </ul>
    </li>
    <li><a href="#"><i class="fa fa-line-chart"></i>&nbsp;&nbsp;指标分析</a>
        <ul>
            <li><a href="{{url_for('analysis.cptAnalysis',projectNo=projectNo, _external=True)}}">静力触探指标分析</a></li>
            <li><a href="{{url_for('analysis.layerAnalysis',projectNo=projectNo, _external=True)}}">层位埋深指标分析</a></li>
        </ul>
    </li>
    <li><a href="#"><i class="fa fa-pie-chart"></i>&nbsp;&nbsp;统计汇总</a>
        <ul>
            <li><a href="{{url_for('statistics.workloads',projectNo=projectNo,_external=True)}}">工作量统计</a></li>
            <li><a href="{{url_for('statistics.excavation',projectNo=projectNo,_external=True)}}">基坑参数统计</a></li>
        </ul>
    </li>
    <li><a href="#"><i class="fa fa-bug"></i>&nbsp;&nbsp;校审意见</a>
        <ul>
            <li><a href="#">方案审核</a></li>        
            <li><a href="{{url_for('reportCheck',projectNo=projectNo,_external=True)}}">报告审核</a></li>
        </ul>            
    </li>
    <li><a href="#"><i class="fa fa-camera"></i>&nbsp;&nbsp;野外记录</a>
        <ul>
            <li><a href="{{url_for('fieldWork.sitePhoto', projectNo=projectNo, _external=True)}}">踏勘实景</a></li>
            <li><a href="{{url_for('fieldWork.siteMap', projectNo=projectNo, _external=True)}}">全景地图</a></li>
        </ul>
    </li>    
    <li><a href="#"><i class="fa fa-gears"></i>&nbsp;&nbsp;工程管理</a>
        <ul>
            <li><a href="{{url_for('layersConfig', projectNo=projectNo, _external=True)}}">土层模版</a></li>
        </ul>            
    </li>            
</ul>