{% extends "project_home.html" %}
{% block css %}
{{super()}}
<link href="{{url_for('static',filename='css/table.css',_external=True)}} "  rel="stylesheet" type="text/css" />
{% endblock %}
{% block nav %}
{{super()}}
{% endblock %}
{% block main %}
<hr/>
<p />
<p>桩基计算书</p>
<p />
<hr/>
<p>工程编号：{{projectNo}}</p>
<form name='myform' style="border:1px solid #c3c3c3;" action="">
计算孔号：
    <select id="holes" size=1 style="margin:-2;" onChange="showLayer()">
        {% for xHole in holelist %}
        <option>{{xHole.holeName}}</option>
        {% endfor %}
    </select><br />
    桩顶埋深(m)：<input type=text name=piletop><br />
    有效桩长(m)：<input type=text name=pilelength><br />
</form>

<form name='calculate_form' style="border:1px solid #c3c3c3;" action="">
    <input type=button id='calculate' name='xxx' value='计算单桩承载力' disabled="true">
    <table  class="hor-calculate">
        <thead>
            <tr>
                <th>桩型</th>
                <th>方桩边长<br />管桩壁厚<br />(mm)</th>
                <th>圆桩直径<br />(mm)</th>
                <th>桩长<br />(m)</th>
                <th>桩侧总极限<br />摩阻力<br />标准值<br />Rsk(kN)</th>
                <th>桩端极限<br />摩阻力<br />标准值<br />Rpk(kN)</th>
                <th>单桩极限<br />承载力<br />标准值<br />Rk(kN)</th>
                <th>单桩竖向<br />承载力<br />设计值<br />Rd(kN)</th>
                <th>单桩竖向<br />抗拔承载力<br />设计值<br />Rtd(kN)</th>
            </tr>
            <tr>
                <td>
                    <select  id="piletype" size=1 style="margin:-2;">
                        <option>预制方桩</option>
                        <option>PHC管桩</option>
                        <option>钻孔灌注桩</option>
                        <option>钢管桩</option>
                    </select>
                </td>
                <td><input></td>
                <td><input></td>
                <td><input></td>
                <td class="Rsk"></td>
                <td class="Rpk"></td>
                <td class="Rk"></td>
                <td class="Rtd"></td>
                <td></td>
            </tr>
        </thead>
    </table>
</form>
<table id='layertable'  class='hor-calculate'>
    <thead>
        <tr>
            <th>序号</th>
            <th>土层编号</th>
            <th>土层名称</th>
            <th>分层深度(m)</th>
            <th>fs(MPa)</th>
            <th>fp(MPa)</th>
            <th>抗拔系数&lambda;</th>
        </tr>
    </thead>
    <tbody>
        <script type=text/javascript>
            var layertable=document.getElementById("layertable").getElementsByTagName("tbody")[0];
            var myHtml=
                "<tr>"+
                    "<td></td><td></td><td></td><td></td>"+
                    "<td><input></td><td><input></td><td><input></td>"+
                "</tr>"
            for(i=1;i<4;i++){
                myHtml=myHtml+myHtml;        
            }
            layertable.innerHTML=myHtml
        </script>        
    </tbody>
</table>

{% endblock %}

{% block script%}
    {{super()}}
<script type=text/javascript src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
<script>
//javascript中可以直接使用jinjia2中的变量{{Variant}}
function showLayer(){
    document.getElementById("calculate").disabled=false;
    var myselect=document.getElementById("holes");
    var selectHole=myselect.options[myselect.selectedIndex].text;
    {% for xHole in holelist %}
        if ("{{xHole.holeName}}"==selectHole){
            var layertable=document.getElementById("layertable").getElementsByTagName("tbody")[0];
            var myHtml="";
            var i=1;
            {% for xLayer in xHole.layers %}                
                if("{{xLayer.startDep}}"<6 && "{{xLayer.endDep}}">6){                    
                    myHtml=myHtml+
                            "<tr>"+
                            "<td class='No'>"+i+"</td>"+
                            "<td class='layerNo'>{{xLayer.layerNo}}</td>"+
                            "<td class='layerName'>{{xLayer.layerName}}</td>"+
                            "<td class='endDep'><strong>6.00</strong></td>"+
                            "<td class='fs'><input id='fs{{loop.index}}'></td>"+
                            "<td class='fp'><input id='fp{{loop.index}}'></td>"+
                            "<td class='mylambda'><input id='mylambda'></td>"+
                            "</tr>";
                    i=i+1;
                };
                myHtml=myHtml+
                        "<tr>"+
                        "<td class='No'>"+i+"</td>"+
                        "<td class='layerNo'>{{xLayer.layerNo}}</td>"+
                        "<td class='layerName'>{{xLayer.layerName}}</td>"+
                        "<td class='endDep'>{{'%.2f'%(xLayer.endDep)}}</td>"+
                        "<td class='fs'><input id='fs{{loop.index}}'></td>"+
                        "<td class='fp'><input id='fp{{loop.index}}'></td>"+
                        "<td class='mylambda'><input id='mylambda'></td>"+
                        "</tr>";
                i=i+1;
            {% endfor %}
            layertable.innerHTML=myHtml
        }
    {% endfor %}
}
</script>

<script>
$(function() {
    var buildData=function(){
        var ret={};
        var holedict={};

        var myselect=document.getElementById("holes");
        var selectHole=myselect.options[myselect.selectedIndex].text;

        $("#layertable tr").each(function(index,item){
            if(index>0){
                var id=$(item).find("td").eq(0).text();                
                var myArray=new Array($(item).find("td").eq(3).text(),$(item).find("td").eq(4).find("input").val(),$(item).find("td").eq(5).text(),$(item).find("td").eq(6).text());
                ret[id]=myArray;
            };
        });
        holedict[selectHole]=ret; 
        return JSON.stringify(holedict);
    }

    $('#calculate').bind('click', function() {
        console.log(buildData());
        $.ajax({
            type:"get",
            url:"/pile_calculate",
            data:buildData(),
            //contentType:"application/json;charset=utf-8",
            dataType:"json",
            success:function(data){$(".Rsk").text(data.result);}
        });
    return false;
    });
});
</script>
{%endblock%}