{% extends "project_home.html" %}
{% block css %}
{{super()}}
<link href="{{url_for('static',filename='css/table.css',_external=True)}} "  rel="stylesheet" type="text/css" />
{% endblock %}
{% block nav %}
{{super()}}
{% endblock %}
{% block main %}
<hr/>
<p />
<p>桩基计算书</p>
<p />
<hr/>
<p>工程编号：{{projectNo}}</p>
<form name='calculate_form' style="border:1px solid #c3c3c3;" action="">
计算孔号：
    <select id="holes" size=1 style="margin:-2;" onChange="showLayer()">
        {% for xHole in holelist %}
        <option>{{xHole.holeName}}</option>
        {% endfor %}
    </select><br />
    <input type=button id='calculate' value='计算单桩承载力' disabled="true">
</form>

<table  class="hor-calculate">
    <thead>
        <tr>
            <th>计算孔号</th>
            <th>桩型</th>
            <th>方桩边长<br />管桩壁厚<br />(mm)</th>
            <th>圆桩<br />直径<br />(mm)</th>
            <th>桩长<br />(m)</th>
            <th>桩顶<br />埋深<br />(m)</th>
            <th>桩底<br />埋深<br />(m)</th>
            <th>桩顶<br />标高<br />(m)</th>
            <th>桩底<br />标高<br />(m)</th>
            <th>桩侧总极限<br />摩阻力<br />标准值<br />Rsk(kN)</th>
            <th>桩端极限<br />摩阻力<br />标准值<br />Rpk(kN)</th>
            <th>单桩极限<br />承载力<br />标准值<br />Rk(kN)</th>
            <th>单桩竖向<br />承载力<br />设计值<br />Rd(kN)</th>
            <th>单桩竖向<br />抗拔承载力<br />设计值<br />Rtd(kN)</th>
        </tr>
    </thead>
        <tr>
            <td class="selected_hole"></td>
            <td>
                <select  id="pile_type" size=1 style="margin:-2;">
                    <option>预制方桩</option>
                    <option>PHC管桩</option>
                    <option>钻孔灌注桩</option>
                    <option>钢管桩</option>
                </select>
            </td>
            <td><input name="side_or_thickness"></td>
            <td><input name="diameter"></td>
            <td><input name="pile_length"></td>
            <td><input name="top_depth"></td>
            <td class="bottom_depth"></td>
            <td class="top_level"></td>
            <td class="bottom_level"></td>
            <td class="Rsk"></td>
            <td class="Rpk"></td>
            <td class="Rk"></td>
            <td class="Rtd"></td>
            <td></td>
        </tr>
</table>

<table id='layertable'  class='hor-calculate'>
    <thead>
        <tr>
            <th rowspan="2">序号</th>
            <th rowspan="2">土层编号</th>
            <th rowspan="2">土层名称</th>
            <th rowspan="2">分层深度(m)</th>
            <th colspan="2">预制桩桩基参数</th>
            <th colspan="2">灌注桩桩基参数</th>
            <th rowspan="2">抗拔系数&lambda;</th>
        </tr>
        <tr>
            <th>fs(MPa)</th>
            <th>fp(MPa)</th>
            <th>fs(MPa)</th>
            <th>fp(MPa)</th>
        </tr>
    </thead>
    <tbody>
        <script type=text/javascript>
            var layertable=document.getElementById("layertable").getElementsByTagName("tbody")[0];
            var myHtml=
                "<tr>"+
                    "<td></td><td></td><td></td><td></td>"+
                    "<td><input></td><td><input></td><td><input></td><td><input></td><td><input></td>"+
                "</tr>"
            for(i=1;i<4;i++){
                myHtml=myHtml+myHtml;
            }
            layertable.innerHTML=myHtml;
        </script>
    </tbody>
</table>

{% endblock %}

{% block script%}
    {{super()}}
<script type=text/javascript src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
<script>
//javascript中可以直接使用jinjia2中的变量{{Variant}}
function showLayer(){
    document.getElementById("calculate").disabled=false;
    var selected_hole=$("#holes").find("option:selected").text();
    {% for xHole in holelist %}
        if ("{{xHole.holeName}}"==selected_hole){
            var layertable=document.getElementById("layertable").getElementsByTagName("tbody")[0];
            var myHtml="";
            var i=1;
            {% for xLayer in xHole.layers %}
                if("{{xLayer.startDep}}"<6 && "{{xLayer.endDep}}">6){
                    myHtml=myHtml+
                            "<tr>"+
                            "<td class='No'>"+i+"</td>"+
                            "<td class='layerNo'>{{xLayer.layerNo}}</td>"+
                            "<td class='layerName'>{{xLayer.layerName}}</td>"+
                            "<td class='endDep'><strong>6.00</strong></td>"+
                            "<td class='fs'><input></td>"+
                            "<td class='fp'><input></td>"+
                            "<td class='fs'><input></td>"+
                            "<td class='fp'><input></td>"+
                            "<td class='mylambda'><input></td>"+
                            "</tr>";
                    i=i+1;
                };
                myHtml=myHtml+
                        "<tr>"+
                        "<td class='No'>"+i+"</td>"+
                        "<td class='layerNo'>{{xLayer.layerNo}}</td>"+
                        "<td class='layerName'>{{xLayer.layerName}}</td>"+
                        "<td class='endDep'>{{'%.2f'%(xLayer.endDep)}}</td>"+
                        "<td class='fs'><input></td>"+
                        "<td class='fp'><input></td>"+
                        "<td class='fs'><input></td>"+
                        "<td class='fp'><input></td>"+
                        "<td class='mylambda'><input></td>"+
                        "</tr>";
                i=i+1;
            {% endfor %}
            layertable.innerHTML=myHtml
        }
    {% endfor %}
}
</script>

<script>
$(function() {
    var buildData=function(){
        var ret={};
        $("#layertable tr").each(function(index,item){
            if(index>0){
                var id=$(item).find("td").eq(0).text();
                var myArray=new Array($(item).find("td").eq(3).text(),
                                      $(item).find("td").eq(4).find("input").val(),
                                      $(item).find("td").eq(5).find("input").val(),
                                      $(item).find("td").eq(6).find("input").val(),
                                      $(item).find("td").eq(7).find("input").val(),
                                      $(item).find("td").eq(8).find("input").val()
                                      );
                ret[id]=myArray;
            };
        });
        return ret;
    }
    var calcu_pile=function(top_depth,pile_length,data,offset){
        var rsk=0;
        var rpk=0;
        var rs_top=0;
        var rs_bottom=0;
        for (i in data){
            if (i==1){rs_top=data[i][0]*data[i][offset+1];}
            else if (data[i][0]<top_depth){rs_top=rs_top+(data[i][0]-data[i-1][0])*data[i][offset+1];}
            else {
                rs_top=rs_top+(top_depth-data[i-1][0])*data[i][offset+1];
                break;}
        }

        for (i in data){
            if (i==1){rs_bottom=data[i][0]*data[i][offset+1];}
            else if (data[i][0]<(top_depth+pile_length)){rs_bottom=rs_bottom+(data[i][0]-data[i-1][0])*data[i][offset+1];}
            else {
                rs_bottom=rs_bottom+((top_depth+pile_length)-data[i-1][0])*data[i][offset+1];
                rsk=rs_bottom-rs_top;
                rpk=data[i][offset+2];
                break;}
        }
        return new Array(rsk,rpk);
    }

    $('#calculate').bind('click', function() {
        //console.log(buildData());
        //var myselect=document.getElementById("holes");
        //var selectHole=myselect.options[myselect.selectedIndex].text;
        var selected_hole=$("#holes").find("option:selected").text();
        var pile_type=$("#pile_type").find("option:selected").text();
        var side_or_thickness=Number($("input[name='side_or_thickness']:first").val());
        var diameter=Number($("input[name='diameter']:first").val());
        var pile_length=Number($("input[name='pile_length']:first").val());
        var top_depth=Number($("input[name='top_depth']:first").val());
        var bottom_depth=top_depth+pile_length;

        var hole_level=0;
        {% for xHole in holelist %}
            if ("{{xHole.holeName}}"==selected_hole){
                hole_level=0;}
        {% endfor %}

        var top_level=hole_level-top_depth;
        var bottom_level=top_level-pile_length;

        var data=buildData();
        var perimeter=0;
        var area=0;
        var Rsk=0;
        var Rpk=0;
        var Rk=0;
        var offset=0;

        switch (pile_type){
            case "预制方桩":
                offset=0;
                perimeter=side_or_thickness*4*0.001;
                area=side_or_thickness*side_or_thickness*0.001*0.001;
                break;
            case "PHC管桩":
                offset=0;
                perimeter=diameter*Math.PI*0.001;
                area=diameter*diameter*Math.PI*0.25*0.001*0.001;
                break;
            case "钻孔灌注桩":
                offset=2;
                perimeter=diameter*Math.PI*0.001;
                area=diameter*diameter*Math.PI*0.25*0.001*0.001;
                break;
            case "钢管桩":
                offset=0;
                perimeter=diameter*Math.PI*0.001;
                area=diameter*diameter*Math.PI*0.25*0.001*0.001;
                break;
        }
        Rsk=calcu_pile(top_depth,pile_length,data,offset)[0]*perimeter;
        Rpk=calcu_pile(top_depth,pile_length,data,offset)[1]*area;
        Rk=Rsk+Rpk;
        $("td.selected_hole:first").text(selected_hole);
        $("td.bottom_depth:first").text(bottom_depth);
        $("td.top_level:first").text(top_level);
        $("td.bottom_level:first").text(bottom_level);
        $(".Rsk:first").text(Rsk.toFixed(1));
        $(".Rpk:first").text(Rpk.toFixed(1));
        $(".Rk:first").text(Rk.toFixed(1));
    return false;
    });
});
</script>
{%endblock%}