{% extends "base.html" %}<!--注意必须放在起始位置，否则顶部不靠顶-->
{% block css %}
{{super()}}
<link href="{{url_for('static',filename='css/menu.css',_external=True)}} "  rel="stylesheet" type="text/css" />
{% endblock %}
{% block nav %}
        <ul id="nav">
            <li><a href="#">计算书</a>
                <ul>
                    <li><a href="{{url_for('calculation.water',projectNo=projectNo,_external=True)}}">水位表</a></li>
                    <li><a href="{{url_for('calculation.liquefaction',projectNo=projectNo,_external=True)}}">液化判别</a></li>
                    <li><a href="{{url_for('calculation.natural_foundation',projectNo=projectNo,_external=True)}}">天然地基</a></li>
                    <li><a href="{{url_for('calculation.pile',projectNo=projectNo,_external=True)}}">桩基</a></li>
                </ul>
            </li>
            <li><a href="#">成果图表</a>
                <ul>
                    <li><a href="{{url_for('CPT',projectNo=projectNo,_external=True)}}">静力触探曲线图表</a></li>
                    <li><a href="{{url_for('ZZT',projectNo=projectNo,_external=True)}}">钻孔柱状图</a></li>
                </ul>
            </li>
            <li><a href="#">指标分析</a>
                <ul>
                    <li><a href="{{url_for('analysis.cptAnalysis',projectNo=projectNo, _external=True)}}">静力触探指标分析</a></li>
                    <li><a href="/{{projectNo}}/#">层位埋深指标分析</a></li>
                </ul>
            </li>
            <li><a href="#">统计汇总</a>
                <ul>
                    <li><a href="{{url_for('statistics.workloads',projectNo=projectNo,_external=True)}}">工作量统计</a></li>
                    <li><a href="{{url_for('statistics.excavation',projectNo=projectNo,_external=True)}}">基坑参数统计</a></li>
                </ul>
            </li>
        </ul>
{% endblock %}
{% block main %}
{% endblock %}