{% extends "base_old.html" %}
{% block css %}
{{super()}}
{% endblock %}
{% block main %}

<form class="form-horizontal"  role="search" method="POST" style="position:relative;">
    <div class="input-group col-md-4  col-md-offset-4" style="position:absolute;top:100px;">
        <input type="search" name=projectNo class="form-control" placeholder="请输入工程编号" style="border-right-width:0;">
        <span class="input-group-btn"><button class="btn btn-large" type="submit"><i class="fa fa-search"></i></button></span>
    </div>
</form>

<!--<form class="form-horizontal"  role="search" method="POST">
    <div class="input-group col-md-4  col-md-offset-4" style="position:absolute;top:25%;">
        <input type="search" name=projectNo class="form-control" placeholder="请输入工程编号" style="border-right-width:0;">
        <span class="input-group-addon"  style="background-color:rgb(255,255,255);"><i class="fa fa-search"></i></span>
    </div>
</form>-->
{% endblock %}