
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
        <link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet" />
		<link rel="stylesheet" href={{url_for('static', filename='css/form-element.css')}}>
        <link rel="stylesheet" href={{url_for('static', filename='css/style.css')}}>
    </head>
    <body>
        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h2>身份认证</h2>
                            		<p>每一次登陆意味着新的征程！</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="" method="post" class="login-form">
                                    {{ form.csrf_token }}
			                    	<div class="form-group">
			                    		{{ form.userID.label(class="sr-only")}}
			                        	{{ form.userID(class="form-username form-control",placeholder="用户名")}}
			                        </div>
			                        <div class="form-group">
			                        	{{ form.password.label(class="sr-only")}}
                                        {{ form.password(class="form-password form-control",placeholder="密码")}}
			                        </div>
                                    {{ form.submit(class="btn")}}
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Javascript -->
        <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>
</html>

